<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.picture.mapper.CommentMapper">

    <resultMap id="AlbumCommentModel" type="com.management.picture.model.body.CommentModel">
        <result property="username" column="username"/>
        <result property="icon" column="icon"/>
        <result property="target_id" column="pa_id"/>
        <result property="content" column="content"/>
        <result property="comment_time" column="comment_time"/>
    </resultMap>

    <select id="getAllAlbumComment" resultMap="AlbumCommentModel">
        select * from view_of_album_comment where pa_id=#{pa_id} order by comment_time desc
    </select>

    <insert id="addAlbumComment">
        insert
        into picture_album_comment
        values (default ,#{pa_id},#{pm_id},#{content},default)
    </insert>

    <resultMap id="TopicCommentModel" type="com.management.picture.model.body.CommentModel">
        <result property="username" column="username"/>
        <result property="icon" column="icon"/>
        <result property="target_id" column="topic_id"/>
        <result property="content" column="content"/>
        <result property="comment_time" column="comment_time"/>
    </resultMap>

    <select id="getAllTopicComment" resultMap="TopicCommentModel">
        select * from view_of_topic_comment where topic_id=#{topic_id} order by comment_time desc
    </select>

    <insert id="addTopicComment">
        insert
        into topic_comment
        values (default ,#{topic_id},#{pm_id},#{content},default)
    </insert>
</mapper>