<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.picture.mapper.PictureAlbumMapper">


    <select id="getOnePageAlbum" resultMap="pictureAlbum">
        SELECT voa.id as pid,voa.pm_id,voa.username,voa.nick_name,voa.icon,voa.tittle,voa.picture,voa.create_time,voa.start_number,voa.comment_number,pt.id,pt.tag_name
        FROM (SELECT * from view_of_album LIMIT #{pageNumber},6) AS voa,album_tag_relation AS atr,picture_tag AS pt
        WHERE voa.id=atr.album_id AND atr.tag_id=pt.id
        order by create_time desc
    </select>
    
    <resultMap id="pictureAlbum" type="com.management.picture.model.body.PictureAlbum">
        <id property="id" column="pid"/>
        <result property="pm_id" column="pm_id"/>
        <result property="username" column="username"/>
        <result property="nick_name" column="nick_name"/>
        <result property="icon" column="icon"/>
        <result property="tittle" column="tittle"/>
        <result property="picture" column="picture"/>
        <result property="create_time" column="create_time"/>
        <result property="start_number" column="start_number"/>
        <result property="comment_number" column="comment_number"/>
        <collection property="tagList" javaType="List" ofType="com.management.picture.model.Tag">
            <id property="id" column="id"/>
            <result property="tag_name" column="tag_name"/>
        </collection>
    </resultMap>

    <select id="getAlbumByUser" resultMap="pictureAlbum">
        SELECT voa.id as pid,voa.pm_id,voa.username,voa.nick_name,voa.icon,voa.tittle,voa.picture,voa.create_time,voa.start_number,voa.comment_number,pt.id,pt.tag_name
        FROM (SELECT * from view_of_album LIMIT #{pageNumber},6) AS voa,album_tag_relation AS atr,picture_tag AS pt
        WHERE voa.id=atr.album_id AND atr.tag_id=pt.id AND voa.username = #{username}
        order by create_time desc
    </select>

    <select id="getPageById" resultMap="pictureAlbum">
        SELECT pa.id as pid,pm.username,pm.nick_name,pm.icon,pm.id AS pm_id,pa.tittle,pa.picture,
            pa.create_time,pa.start_number,pa.comment_number,pt.id,pt.tag_name
        FROM picture_album AS pa,picture_tag AS pt,pm AS pm,album_tag_relation AS atr
        WHERE pa.pm_id=pm.id AND pa.id=atr.album_id AND pt.id=atr.tag_id AND pa.id=#{pa_id}
    </select>

    <insert id="releaseAlbum" parameterType="com.management.picture.model.body.PictureAlbum" useGeneratedKeys="true" keyProperty="id">
        insert
        into picture_album
        values (default , #{pm_id}, #{tittle}, #{picture}, default ,default,default )
    </insert>

    <insert id="addAlbumTag">
        insert
        into album_tag_relation
        values (default ,#{album_id}, #{tag_id})
    </insert>

    <delete id="deleteAlbum">
        delete
        from picture_album
        where id=#{pa_id}
    </delete>
</mapper>