<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.picture.mapper.PictureAlbumMapper">


    <select id="getOnePageAlbum" resultMap="pictureAlbum">
        SELECT * from view_of_album LIMIT #{pageNumber},6
    </select>
    
    <resultMap id="pictureAlbum" type="com.management.picture.model.picture.PictureAlbum">
        <id property="id" column="pid"/>
        <result property="username" column="username"/>
        <result property="icon" column="icon"/>
        <result property="tittle" column="tittle"/>
        <result property="picture" column="picture"/>
        <result property="create_time" column="create_time"/>
        <result property="start_number" column="start_number"/>
        <collection property="tagList" javaType="List" ofType="com.management.picture.model.Tag">
            <id property="id" column="id"/>
            <result property="tag_name" column="tag_name"/>
        </collection>
    </resultMap>

    <select id="getAlbumByUser" resultMap="pictureAlbum">
        SELECT * from view_of_album where username = #{username} LIMIT #{pageNumber},6
    </select>

    <insert id="releaseAlbum" parameterType="com.management.picture.model.picture.PictureAlbum" useGeneratedKeys="true" keyProperty="id">
        insert
        into picture_album
        values (default , #{pm_id}, #{tittle}, #{picture}, default ,default )
    </insert>

    <insert id="addAlbumTag">
        insert
        into album_tag_relation
        values (default ,#{album_id}, #{tag_id})
    </insert>
</mapper>