<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.picture.mapper.TagMapper">
    <select id="getAllPictureTag" resultType="com.management.picture.model.Tag">
        select * from picture_tag
    </select>

    <insert id="addPictureTag">
        insert
        into picture_tag
        values (default , #{tagName})
    </insert>

    <delete id="deletePictureTagByID">
        delete
        from picture_tag
        where id = #{id}
    </delete>

    <delete id="deletePictureTagByTagName">
        delete
        from picture_tag
        where tag_name = #{tagName}
    </delete>

    <update id="modifyPictureTag">
        update picture_tag
        set tag_name = #{newTagName}
        where id = #{id}
    </update>

    <select id="getAllTopicTag" resultType="com.management.picture.model.Tag">
        select * from topic_tag
    </select>

    <insert id="addTopicTag">
        insert
        into topic_tag
        values (default , #{tagName})
    </insert>

    <delete id="deleteTopicTagByID">
        delete
        from topic_tag
        where id = #{id}
    </delete>

    <delete id="deleteTopicTagByTagName">
        delete
        from topic_tag
        where tag_name = #{tagName}
    </delete>

    <update id="modifyTopicTag">
        update topic_tag
        set tag_name = #{newTagName}
        where id = #{id}
    </update>
</mapper>