<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.picture.mapper.UserMapper">
    <select id="getPassword" parameterType="String" resultType="String">
        SELECT password
        FROM pm
        WHERE username = #{username}
    </select>

    <select id="getRole" parameterType="String" resultType="String">
        SELECT role
        FROM pm_role
        WHERE id = (select pm_role from pm where username = #{username})
    </select>

    <update id="updatePassword">
        UPDATE pm
        SET password = #{newPassword}
        WHERE username = #{username}
    </update>

    <select id="getUser" resultType="String">
        SELECT username
        FROM pm
    </select>

    <update id="banUser" parameterType="String">
        UPDATE pm
        SET ban = 1
        WHERE username = #{username}
    </update>

    <update id="reBanUser" parameterType="String">
        UPDATE pm
        SET ban = 0
        WHERE username = #{username}
    </update>

    <select id="checkUserBanStatus" parameterType="String" resultType="int">
        SELECT ban
        FROM pm
        WHERE username = #{username}
    </select>

    <select id="getRolePermission" parameterType="String" resultType="String">
        SELECT permission
        FROM pm_role
        WHERE id = (select pm_role from pm where username=#{username})
    </select>

    <select id="getPermission" parameterType="String" resultType="String">
        SELECT permission
        FROM pm_role
        WHERE id = (select pm_role from pm where username=#{username})
    </select>

    <select id="getUserId" resultType="String">
        select id from pm where username = #{username}
    </select>

    <insert id="addUser" parameterType="String">
        INSERT
        into pm
        values (default,#{username},#{password},#{email},#{phone},default ,default ,default,#{username})
    </insert>

    <select id="verifyMail" resultType="com.management.picture.model.User">
        select * from pm where email = #{email}
    </select>

    <select id="getUserInf" parameterType="String" resultMap="UserInf">
        select * from pm as u,pm_role as r where u.username= #{username} and u.pm_role = r.id
    </select>
    <resultMap id="UserInf" type="com.management.picture.model.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="ban" column="ban"/>
        <result property="phone" column="phone"/>
        <result property="icon" column="icon"/>
        <association property="role" javaType="com.management.picture.model.Role">
            <id property="id" column="id"/>
            <result property="role" column="role"/>
            <result property="permission" column="permission"/>
        </association>
    </resultMap>

    <select id="getUserNickName">
        select pm.nick_name from pm where id = #{pm_id}
    </select>

    <update id="changeUserNickName">
        update pm
        set pm.nick_name = #{new_nickname}
        where pm.id = #{pm_id}
    </update>

    <select id="getUserIcon" parameterType="String" resultType="String">
        select icon from pm where username = #{username}
    </select>

    <update id="changeUserIcon">
        update pm
        set icon = #{picture}
        where username = #{username}
    </update>

    <select id="getUserCenterInf" resultType="com.management.picture.model.UserCenter">
        select username,nick_name,email,phone
        from pm
        where username = #{username}
    </select>

    <update id="changeUserCenterInf" parameterType="com.management.picture.model.UserCenter">
        update pm
        set nick_name=#{nick_name},email=#{email},phone=#{phone}
        where username=#{username}
    </update>

    <select id="getUserFans" resultType="com.management.picture.model.usual.Fan">
        select icon,username
        from pm
        where id = (SELECT from_user_id FROM pm_relation WHERE rel_type=2 AND to_user_id=#{id})
    </select>

    <select id="getUserFollows" resultType="com.management.picture.model.usual.Follow">
        select icon,username
        from pm
        where id = (SELECT to_user_id FROM pm_relation WHERE rel_type=2 AND from_user_id=#{id})
    </select>

    <insert id="setUserFollows">
        insert
        into pm_relation
        values (default ,#{id} , (select id from pm where username = #{username}) ,default)
    </insert>

    <delete id="dropUserFollows">
        delete
        from pm_relation
        where from_user_id = #{id} and to_user_id = (select id from pm where username = #{username}) and rel_type = 2
    </delete>

    <select id="verifyUsername" resultType="com.management.picture.model.User">
        select * from pm where username = #{username}
    </select>

    <select id="verifyPhone" resultType="com.management.picture.model.User">
        select * from pm where phone = #{phone}
    </select>
</mapper>